body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    width: 100%; /* Mengisi lebar penuh pada layar kecil */
    max-width: 900px; /* Maksimum lebar gambar */
    height: auto; /* Mengikuti aspek rasio gambar */
}

/* Media query untuk layar kecil (misalnya, handphone) */
@media (max-width: 768px) {
    .menu-item {
        max-width: 100%; /* Mengisi lebar penuh pada layar kecil */
    }
}
